In [1]:
import numpy as np
import pandas as pd

train_data = pd.read_csv("data/split/test.csv")
# test_data = pd.read_csv("data/test.csv")

In [2]:
train_data.head()

,PRODUCT_ID,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TEST_000,2022-09-09 2:01,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEST_001,2022-09-09 2:09,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TEST_002,2022-09-09 8:42,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TEST_003,2022-09-09 10:56,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TEST_004,2022-09-09 11:04,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
line_1_a = train_data[(train_data['LINE'] == 'T050304') & (train_data['PRODUCT_CODE'] == 'A_31')]

In [4]:
# line_1_a

In [5]:
# line_1_a.describe()

In [6]:
# 결측치 개수 파악
# 셀 실행 결과를 데이터프레임으로 보고 싶을 때 to_frame()과 pd.DataFrame() 두 가지를 사용 가능
# line_1_a.isnull().sum().to_frame('nan_count')

In [7]:
line_1_a = line_1_a.dropna(axis=1, how='all')

In [8]:
# 제거 후
# line_1_a.isnull().sum().to_frame('nan_count')

In [9]:
# line_1_a

In [10]:
line_1_a.to_csv("./data/split/test_T050304_A31.csv")

In [11]:
# 다른 데이터에 대해 반복
line_2_a = train_data[(train_data['LINE'] == 'T050307') & (train_data['PRODUCT_CODE'] == 'A_31')]
line_2_a = line_2_a.dropna(axis=1, how='all')
line_2_a.to_csv("./data/split/test_T050307_A31.csv")

line_3_t = train_data[(train_data['LINE'] == 'T100304') & (train_data['PRODUCT_CODE'] == 'T_31')]
line_3_t = line_3_t.dropna(axis=1, how='all')
line_3_t.to_csv("./data/split/test_T100304_T31.csv")

line_3_o = train_data[(train_data['LINE'] == 'T100304') & (train_data['PRODUCT_CODE'] == 'O_31')]
line_3_o = line_3_o.dropna(axis=1, how='all')
line_3_o.to_csv("./data/split/test_T100304_O31.csv")

line_4_t = train_data[(train_data['LINE'] == 'T100306') & (train_data['PRODUCT_CODE'] == 'T_31')]
line_4_t = line_4_t.dropna(axis=1, how='all')
line_4_t.to_csv("./data/split/test_T100306_T31.csv")

line_4_o = train_data[(train_data['LINE'] == 'T100306') & (train_data['PRODUCT_CODE'] == 'O_31')]
line_4_o = line_4_o.dropna(axis=1, how='all')
line_4_o.to_csv("./data/split/test_T100306_O31.csv")

line_5_a = train_data[(train_data['LINE'] == 'T010306') & (train_data['PRODUCT_CODE'] == 'A_31')]
line_5_a = line_5_a.dropna(axis=1, how='all')
line_5_a.to_csv("./data/split/test_T010306_A31.csv")

line_6_a = train_data[(train_data['LINE'] == 'T010305') & (train_data['PRODUCT_CODE'] == 'A_31')]
line_6_a = line_6_a.dropna(axis=1, how='all')
line_6_a.to_csv("./data/split/test_T010305_A31.csv")

In [12]:
train_o31 = train_data[(train_data['PRODUCT_CODE'] == 'O_31')]
train_o31 = train_o31.dropna(axis=1, how='all')
train_o31.to_csv("./data/split/test_O31.csv")

In [13]:
# train_o31.shape

In [14]:
# train_t31 = train_data[(train_data['PRODUCT_CODE'] == 'T_31')]
# train_t31 = train_t31.dropna(axis=1, how='all')
# train_t31.to_csv("./data/train_T31.csv")

In [15]:
# train_t31.shape

In [16]:
# train_o31.isnull().sum().to_frame('nan_count')

In [17]:
# train_t31.isnull().sum().to_frame('nan_count')

In [18]:
# train_a31 = train_data[(train_data['PRODUCT_CODE'] == 'A_31')]
# train_a31 = train_a31.dropna(axis=1, how='all')
# train_a31.to_csv("./data/train_A31.csv", index = False)

In [19]:
# train_a31.isnull().sum().to_frame('nan_count')

In [20]:
# line_3_a = train_data[((train_data['LINE'] == 'T010306') | (train_data['LINE'] == 'T010305')) & (train_data['PRODUCT_CODE'] == 'A_31')]
# line_3_a = line_3_a.dropna(axis=1, how='all')
# line_3_a.to_csv("./data/train_T0103_A31.csv", index = False)

In [21]:
# line_3_a = train_data[((train_data['LINE'] == 'T050304') | (train_data['LINE'] == 'T050307')) & (train_data['PRODUCT_CODE'] == 'A_31')]
# line_3_a = line_3_a.dropna(axis=1, how='all')
# line_3_a.to_csv("./data/train_T0503_A31.csv", index = False)